<nav class="flex items-center gap-4">
  <a href="{{ route('home') }}">Home</a>
  <a href="{{ route('app.home', {}, { domain: 'app.lvh.me', prefixUrl: 'http://app.lvh.me:3333' }) }}">
    App Home
  </a>
</nav>
