@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  @apply text-3xl font-bold mb-3 mt-6;
}

h2 {
  @apply text-2xl font-bold mb-2 mt-4;
}

nav {
  @apply flex gap-2 pb-2 border-b border-slate-100;
}

nav a,
nav button {
  @apply px-2 py-1 rounded hover:bg-slate-100 duration-300;
}

input:not([type='radio']):not([type='checkbox']),
select,
textarea {
  @apply border border-slate-300 rounded px-3 py-1.5 focus:border-indigo-500 duration-300;
}

select {
  @apply py-[0.55rem] bg-white;
}
