@let(className = 'inline-flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-medium text-white transition-colors rounded-md focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none bg-slate-950 hover:bg-slate-950/90')
@let(nodeName = $props.has('href') ? 'a' : 'button')

<{{ nodeName }} {{ $props.merge({ class: [className] }).toAttrs() }}>
  {{{ await $slots.main() }}}
</{{ nodeName }}>
