<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{ title || "Let's Learn AdonisJS 6" }} </title>

  @if ($slots.meta)
    {{{ await $slots.meta() }}}
  @endif

  @vite(['resources/js/app.js', 'resources/css/app.css'])
</head>
<body>
  <div class="max-w-3xl mx-auto mt-6">
    @include('partials/nav')

    {{{ await $slots.main() }}}
  </div>
</body>
